#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#GAE Local Datastore
war/WEB-INF/appengine-generated/local_db.bin

# Mac crap
.DS_Store

# Java
*.jar
*.class
*.api
war/WEB-INF/lib/

# NPM
node_modules/
node_modules/grunt
grunt/

# Bower
war/lib/bower_components/

#SASS Cache
.sass-cache/

# Dist
war/css/styles.css
war/css/styles.css.map
war/css/styles.min.css
war/js/dist/scripts.js
war/js/dist/scripts.min.js

# test
test/*
