.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
     not supported by any browser */ }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

[ng-click], [data-ng-click], [x-ng-click], img, i {
  cursor: pointer; }

.gg-editable-text .original-text {
  border: 1px solid transparent; }
.gg-editable-text .original-text:hover, .gg-editable-text .gg-editable-text.editing {
  border: dashed #ccc 1px; }
.gg-editable-text input {
  border: dashed #ccc 1px; }
.gg-editable-text textarea:focus, .gg-editable-text input:focus {
  outline: 0; }
.gg-editable-text textarea, .gg-editable-text input {
  background: inherit;
  color: green;
  font: inherit;
  border: inherit;
  width: 100%;
  padding: inherit;
  margin: 0;
  height: inherit;
  -webkit-font-smoothing: inherit;
  line-height: inherit;
  display: inline-block;
  text-decoration: inherit;
  text-align: inherit; }
.gg-editable-text span {
  text-decoration: inherit; }

.tagsDisplayBrowse {
  text-align: center;
  align-items: center; }

.comicTitleBar {
  background-color: #4b647d; }

.comicTitleBarFL {
  float: right; }

.pageDiv {
  text-align: center;
  align-items: center; }

.detailBox {
  width: 620px;
  border: 1px solid #bbb;
  margin: 50px; }

.titleBox {
  background-color: #fdfdfd;
  padding: 10px; }

.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block; }

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb; }

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  width: 80%; }

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  width: 18%; }

.actionBox .form-group * {
  width: 100%; }

.taskDescription {
  margin-top: 10px 0; }

.commentList {
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto; }

.commentList li {
  margin: 0;
  margin-top: 10px; }

.commentList li > div {
  display: table-cell; }

.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left; }

.commenterImage img {
  width: 100%;
  border-radius: 50%; }

.commentText p {
  margin: 0; }

.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px; }

.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px; }

.edit-comic .drop-box {
  border-radius: 10px;
  border-style: dotted;
  border-color: #ddd;
  border-width: 5px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 90px;
  width: 400px;
  height: 200px;
  margin: 0 auto; }
.edit-comic .drop-box-wrapper {
  text-align: center; }
.edit-comic .close-button {
  font-size: 20px; }
.edit-comic .title {
  text-align: center; }
.edit-comic .thumbnail {
  object-fit: cover;
  width: 150px;
  height: 200px; }
.edit-comic .thumbnail-wrapper {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden; }
.edit-comic .add-page-wrapper {
  display: inline-block;
  width: 150px;
  height: 200px;
  padding: 90px; }
.edit-comic .add-page {
  font-size: 20px;
  text-align: left; }

.DocumentList {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 200px;
  width: 100%;
  padding: 0 15px; }

.DocumentItem {
  border: 1px solid black;
  padding: 0;
  height: 200px; }

.list-inline {
  white-space: nowrap; }

.container-full {
  margin: 0 auto;
  width: 90%; }

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 65px;
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
  color: white;
  box-shadow: 0px 2px 8px #888888; }
  .top-nav .nav-section, .top-nav .nav-logo, .top-nav .nav-search, .top-nav .nav-buttons {
    float: left;
    width: 33.33333%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .top-nav .nav-logo {
    text-align: left; }
  .top-nav .logo-img {
    height: 45px; }
  .top-nav .nav-search {
    text-align: center; }
  .top-nav .nav-search-bar {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 3px 3px 0px !important;
    border-bottom: 0px;
    outline: none !important;
    box-shadow: none !important; }
  .top-nav ::-webkit-input-placeholder {
    color: white; }
  .top-nav :-moz-placeholder {
    color: white; }
  .top-nav ::-moz-placeholder {
    color: white; }
  .top-nav :-ms-input-placeholder {
    color: white; }
  .top-nav .nav-buttons {
    text-align: right;
    font-size: 20px; }
  .top-nav .img-circle {
    border-radius: 50%;
    height: 45px;
    margin-right: 10px;
    margin-left: 10px; }
  .top-nav .input-group-addon {
    background-color: rgba(255, 255, 255, 0.2);
    color: white; }

#side-nav {
  margin-top: 65px;
  background-color: white;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 888;
  top: 0;
  right: 0;
  overflow-x: hidden;
  box-shadow: -1px 0px 4px #888888;
  transition: 0.5s; }
  #side-nav a {
    display: block;
    white-space: nowrap;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87); }
  #side-nav a:hover {
    background-color: #E0E0E0; }

body {
  margin-top: 85px;
  background-color: #FAFAFA; }

.largeFont {
  font-size: 36px; }

.forceTF {
  width: 24px;
  height: 24px; }

.profTabRTC {
  position: absolute;
  top: 0px;
  right: 0px; }

.addIcon {
  text-align: center;
  text-size: 4em; }

.testing {
  background-color: green; }

.h1_hover {
  cursor: pointer; }

.imgWrap {
  position: relative; }

.preview {
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 0px;
  margin-left: 0px; }

.imgDescription {
  position: absolute;
  top: 0;
  left: 30;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: visibility opacity 0.2s; }

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1; }

.search-x {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px !important; }

.cover {
  width: 650px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  color: white; }

#coverTitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  overflow: hidden; }

#coverBtn {
  position: absolute;
  bottom: 20px;
  right: 10px; }

.content-wrapper {
  padding-left: 30px;
  padding-right: 30px; }

.editIcon {
  background-color: #80000000; }

/*# sourceMappingURL=styles.css.map */
