<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Maximum Green</title>
	<!-- JQuery -->
	<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- SugarJS -->
	<script src="lib/sugarjs/sugar-full.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Angular -->
	<script src="lib/bower_components/angular/angular.min.js"></script>
	<!-- UI-Router -->
	<script	src="lib/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Angular Cookies -->
	<script	src="lib/bower_components/angular-cookies/angular-cookies.min.js"></script>
	<!-- Google GAPI -->
	<script	src="lib/bower_components/angular-google-gapi/dist/angular-google-gapi.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.min.css" />
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100' rel='stylesheet' type='text/css'>
	<!-- Angular App -->
	<script src="js/dist/scripts.js"></script>
</head>

<body ng-app="c4">
	<div class="container-fluid" ng-controller="navCtrl">
<!--desktop display-->
		<div class="row" id="desktopRow">
			<div class="col-sm-4" align="left">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="material-icons">list</i>
						<ul class="dropdown-menu">
							<li><a ui-sref="browse">Browse</a></li>
							<li data-toggle="modal" data-target="#settingsModal"><a>Settings</a></li>
							<li ng-click="doAuth()"><a>{{signMsg}}</a></li>
							<li>{{username}}</li>
						</ul>
					</a>
				</li>
				<span>C4comics</span>
			</div>
			<div class="col-sm-4" align="center">
				<form ng-submit="navSearch()">
					<input type="text" placeholder="Search" ng-model="searchTerms" ng></input>
					<i class="material-icons" ng-click="navSearch()">search</i>
				</form>
			</div>
			<div class="col-sm-4" align="right">
				<i class="material-icons">notifications</i>
				<img class="img-circle" id="profilePicDesktop">
			</div>
		</div>
	<!-- Navbar Settings Modal -->
	<div id="settingsModal" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Settings</h4>
				</div>
				<div class="modal-body">
					<p>Put all the nice settings here.</p>
					<span>Example Setting On/Off: <input type="checkbox" name="exampleCheckbox" checked></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Apply</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="testing">
		<span ui-sref-active="active"><a ui-sref="home">Home</a></span>
		<span ui-sref-active="active"><a ui-sref="profile">Profile</a></span>
		<span ui-sref-active="active"><a ui-sref="series">Series</a></span>
		<span ui-sref-active="active"><a ui-sref="comic">Comic</a></span>
		<span ui-sref-active="active"><a ui-sref="editComic">Edit Comic</a></span>
		<span ui-sref-active="active"><a ui-sref="draw">Draw</a></span>
		<span ui-sref-active="active"><a ui-sref="browse">Browse</a></span>
		<span ui-sref-active="active"><a ui-sref="search">Search</a></span>
	</div>
	<div ui-view></div>

	<!-- Enable livereload for development -->
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
