<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Maximum Green</title>
	<!-- JQuery -->
	<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- lodash -->
	<script src="lib/lodash/lodash.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Angular -->
	<script src="lib/bower_components/angular/angular.min.js"></script>
	<!-- UI-Router -->
	<script	src="lib/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Angular Cookies -->
	<script	src="lib/bower_components/angular-cookies/angular-cookies.min.js"></script>
	<!-- Google GAPI -->
	<script	src="lib/bower_components/angular-google-gapi/dist/angular-google-gapi.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.min.css" />
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100' rel='stylesheet' type='text/css'>
	<!-- Angular App -->
	<script src="js/dist/scripts.js"></script>
	<!-- Angular Bootstrap -->
	<script src="lib/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<!-- Angular Infinite Scroll -->
	<script src="lib/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
	
</head>

<body ng-app="c4">
	<div ng-controller="navCtrl" id="navRow">
		<span ui-sref="home" class="navSpan">C4comics</span>
		<form ng-submit="navSearch()" class="hidden-xs">
			<input type="text" placeholder="Search" ng-model="searchTerms" ></input>
			<i class="material-icons" ng-click="navSearch()">search</i>
		</form>
		<span class="visible-xs-block navSpan">
		<!-- Make a dropdown thing on ng-click-->
			<i class="material-icons">search</i>
		</span>
		<!-- Make a dropdown thing on ng-click -->
		<i class="material-icons">notifications</i>{{username}}<!-- 
	 --><img class="img-circle" id="profilePicNav" ng-src="{{profilePic}}" ng-hide="hideProfilePic" ng-click="navProfile()">
		<span class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">
				<i class="material-icons">list</i>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a ui-sref="browse">Browse</a></li>
					<li data-toggle="modal" data-target="#settingsModal"><a>Settings</a></li>
					<li ng-click="doAuth()"><a>{{signMsg}}</a></li>
				</ul>
			</a>
		</span>
	<!-- Navbar Settings Modal -->
	<div id="settingsModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Settings</h4>
				</div>
				<div class="modal-body">
					<p>Put all the nice settings here.</p>
					<span>Example Setting On/Off: <input type="checkbox" name="exampleCheckbox" checked></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Apply</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Make this a notifications dropdown somehow.
	<div>
		<div class="row-fluid" ng-repeat="x in notifications">
			<div class="span3">
				<!--<img src={{x.previewURL}}>--><!--
			</div>
			<div class="span9">
				<div>
					<!--{{x.Title}} by {{x.Author}}--><!--
				</div>
				<div>
					<i class="material-icons">play_arrow</i>
					<i class="material-icons">skip_next</i>
					<i class="material-icons">fast_forward</i>
				</div>
			</div>
		</div>
	</div> -->
	<div>
		<a ui-sref="home">Home</a>
		<a ui-sref="profile">Profile</a>
		<a ui-sref="series">Series</a>
		<a ui-sref="comic">Comic</a>
		<a ui-sref="editComic">Edit Comic</a>
		<a ui-sref="draw">Draw</a>
		<a ui-sref="browse">Browse</a>
		<a ui-sref="search">Search</a>
	</div>
</div>
<div ui-view></div>

	<!-- Enable livereload for development -->
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
