.comic-page{

$expand_button_height: 35px;

.pageDiv{
	text-align: center;
	align-items: center;
}

img {
	max-width: 75vw;
	height: auto;
	margin: 10px 0px 10px 0px;
	cursor: default !important;
}

.expand-comment {
	position: fixed;
	z-index: 997;
	bottom: 0px;
	width: 75px;
	height: $expand_button_height;
	background-color: #4CAF50;
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	margin-left: 20px;
	border-radius: 15px 15px 0px 0px;
	color: white;
	box-shadow: 3px -4px 9px -4px #888888;
}

.expand-comment:hover {
	background-color: #71c174;
}

.detailBox {
    width:620px;
    border:1px solid #bbb;
		margin: 0 auto;
		margin-bottom: 5px + $expand_button_height;
		margin-left: 10px;
		position: fixed;
		z-index: 998;
		bottom: 0px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
		background: white;
}

}
