$img_url: 'http://i.imgur.com/78Y9idl.png';
$nav_color: #4CAF50;
$nav_height: 65px;
$search_bar_color: rgba(255, 255, 255, 0.2);
$side_nav_font_color: rgba(0, 0, 0, 0.87);
$notification_divider_color: #d9d9d9;

.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: $nav_height;
	background-color: $nav_color;
	padding: 10px;
	text-align: center;
	color: white;
	box-shadow: 0px 2px 8px #888888;


	.nav-section{
		float: left;
		width: 33.33333%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.nav-logo {
		@extend .nav-section;
		text-align: left;
	}

	.logo-img {
		height: $nav_height - 20;
	}

	.nav-search {
		@extend .nav-section;
		text-align: center;
	}

	.nav-search-bar {
		background-color: $search_bar_color;
		border-radius: 0px 3px 3px 0px !important;
		border-bottom: 0px;
		outline: none !important;
		box-shadow: none !important;
	}

	@include placeholder {
		color: white;
	}

	.nav-buttons {
		@extend .nav-section;
		text-align: right;
		font-size: 20px;
	}

	.img-circle {
		border-radius: 50%;
		height: $nav_height - 20;
		margin-right: 10px;
		margin-left: 10px;
	}

	.input-group-addon{
		background-color: $search_bar_color;
		color: white;
	}

}

#side-nav{
	margin-top: $nav_height;
	background-color: white;
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 888;
	top: 0;
	right: 0;
	overflow-x: hidden;
	box-shadow: -1px 0px 4px #888888;
	transition: 0.5s;

	a {
		display: block;
		white-space: nowrap;
		padding: 10px;
		text-decoration: none;
		width: 100%;
		font-size: 12px;
		color: $side_nav_font_color;

	}

	a:hover {
		background-color: #E0E0E0;;
	}
}

body {
	margin-top: $nav_height + 20;
	background-color: #FAFAFA;
	height: 100%;
}
.notification-box{
	position: fixed;
	top: $nav_height + 10;
	z-index: 998;
	right: 100px;
	width: 350px;
	border: 1px solid #e6e6e6;
	background-color: white;
	box-shadow: 2px 2px 3px 0px #a6a6a6;

	ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;

		li:first-child{
			border-top: none;
		}

		li{
			border-top: 1px dotted $notification_divider_color;
			display: block;
			padding: 10px;

			.notification-content{
				.notification-message{
					display: block;
					float: left;
				}
				.notification-delete{
					display: block;
					font-size: 20px;
					text-align: right;
				}
			}

			.notification-date{
				text-align: right;
				font-size: 10px;
				color: #bfbfbf;
			}
		}

		li:hover{
			background-color: #e6e6e6;
		}

	}
}
