$nav-text-color: rgba(0,0,0,255);
$nav-min-height: 32px;
#navBuff{
	width: 100%;
}
#navRow{
	position:fixed;
	left: 0px;
	top: 0px;
	vertical-align: middle;
	color: $nav-text-color;
	min-height: $nav-min-height;
	height: 8%;
	a {
		color: $nav-text-color;
	}
	div {
		vertical-align: middle;
		color: $nav-text-color;
	}
}
#profilePicNav{
	height: 100%;
}
#navForm{
	display: inline;
}
#navTitle{
	display: inline;
}