$nav-text-color: rgba(0,0,0,255);
$nav-min-height: 16px;
#navRight{
	float:right;
	 margin:auto 0 auto auto;
}
#navLeft{
	//float:left;
	margin:auto auto auto 0;
}
#navBuff{
	width: 100%;
}
#navRow{
	position:fixed;
	left: 0px;
	top: 0px;
	vertical-align: middle;
	color: $nav-text-color;
	min-height: $nav-min-height;
	height: 5%;
	//text-align:center;
	a {
		color: $nav-text-color;
	}
	div {
		vertical-align: middle;
		color: $nav-text-color;
	}
}
#profilePicNav{
	height: 100%;
}
#navForm{
	display: inline;
}
.navNotImg{
	float: left;
}
