.profile{

$cover_width: 600px;
$cover_height: 300px;
$profile_img_size: 100px;
$thumb_width: 150px;
$thumb_height: 200px;

.cover{
		width: $cover_width;
		height: $cover_height;
		position: relative;
		display: block;
		background-color: white;
		margin: 0px auto;

		.cover-img{
			object-fit: cover;
			position: absolute;
			z-index: 0;
			width: $cover_width;
			height: $cover_height;
			cursor: default !important;
		}

		.cover-drop-box{
			position: absolute;
			z-index: 1;
			width: $cover_width;
			height: $cover_height;
		}

		.cover-title {
			position: absolute;
			bottom: 10px;
			left: $profile_img_size + 50px;
			padding: 5px;
			color: white;
			overflow: hidden;
			z-index: 3;
		}

		.cover-profile-img{
			height: $profile_img_size;
			width: $profile_img_size;
			z-index: 2;
			position: absolute;
			bottom: -($profile_img_size/3);
			left: $profile_img_size/3;
		}

		.cover-btn{
			z-index: 4;
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
}

.content-wrapper{
	margin: 10px auto;
	width: $cover_width;
	background-color: white;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 0px rgba(200,200,200, 0.75);
	padding: 20px;

	.description-heading{
		margin: 20px 0;
	}
}

.new-series-btn{
	margin: 0px auto !important;
}

.series-images{
	width: 80vw;
	margin: 0px auto;
}

.thumbnail-wrapper{
	display: inline-block;
	border: 0px;
	padding: 0px;
	width: $thumb_width;
	height: $thumb_height;
	margin: 5px;
}

.thumbnail{
	object-fit: cover;
	border: 0px;
	padding: 0px;
	width: $thumb_width;
	height: $thumb_height;
	position: absolute;
	z-index: 1;
	margin: 0px;
}

.thumbnail-overlay{
	color: white;
	background-color: rgba(0,0,0, 0.25);
	display: inline-block;
	z-index: 2;
	width: $thumb_width;
  height: 40px;
	padding: 8px;
	position: relative;
	overflow: hidden;

	p{
		display: inline-block;
		float: left;
		overflow: hidden;
	}

	span{
		display: inline-block;
		float: right;
		z-index: 3;
	}
}

}
