.search{

$thumb_width: 200px;
$thumb_height: 300px;  

.search-x {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px !important;
}

.thumbnail-wrapper{
	display: inline-block;
	border: 0px;
	padding: 0px;
	width: $thumb_width;
	height: $thumb_height;
	margin: 5px;
}

.thumbnail{
	object-fit: cover;
  width: $thumb_width;
  height: $thumb_height;
	padding: 0px;
	position: absolute;
	z-index: 1;
	margin: 0px;
}

.thumbnail-overlay{
	color: white;
	background-color: rgba(0,0,0, 0.25);
	display: inline-block;
	z-index: 2;
	width: $thumb_width;
  height: 40px;
	padding: 8px;
	position: relative;
	overflow: hidden;
}

}
