.series{

.cover {
	width: 650px;
	height: 300px;
	position: relative;
	margin: 0 auto;
	color: white;
}
#coverTitle {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	overflow: hidden;
}
#coverBtn {
	position: absolute;
	bottom: 20px;
	right: 10px;
}

.content-wrapper {
	padding-left: 30px;
	padding-right: 30px;
}
.editIcon {
	background-color: #80000000;
}

}
