nav {
    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

.testing {
  background-color: green;
}


footer {
	background-color: #d3d3d3;
	color: #ffffff;
}
