<div class="browse" ng-controller="browseCtrl">
	<h3>Browse</h3>


	<div class="center-block">
		<h5>Tags</h5>
		<div>
			<span class="tagDisplay" ng-repeat="x in selTags">
				{{x}}
				<span class="tagClose">
					<i class="material-icons" ng-click="removeTag(x)">close</i>
				</span>
			</span>
		</div>
	</div>

	<div class="tag-container">
		<div infinite-scroll="shiftTags()" infinite-scroll-distance='.01' infinite-scroll-immediate-check="true">
			<button class="btn btn-default btn-lg tag-btn" ng-repeat="x in displayTags" ng-show='!resultsBool'
			 ng-click="tagClick(x.id)">
			 	{{x.name}}
			</div>
	</div>

	<div class="row" id="displayResultBrowse">

			<div class='thumbnail-wrapper' ng-repeat='comic in browseResults' ng-show='resultsBool'
			 ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-click="go_to(comic.type,comic.id)">
				<img class="thumbnail" ng-click="go_to(comic.type,comic.id)"
				 ng-src="{{getFirstPageURL(comic.pages[0])}}" default-img="{{defaultPageImg}}" />
				<div class="thumbnail-overlay">
					<p ng-click="go_to(comic.type,comic.id)">{{comic.title}}</p>
				</div>
			</div>

	</div>
</div>
