<div ng-controller="browseCtrl">
	<h3>Browse</h3>
	<div class="container-fluid">
		<div id="optionsDisplayBrowse">
			Display <input ng-model="tagCap" type="number" value=20></input> tags on the page.
			Show results at <input type="number" ng-model="resultSwitch"></input> results.
		</div>
		<div id ="tagsDisplayBrowse">
			<h5>Current Tags:</h5>
			<div id="tagListBrowse">
				<span class="tagDisplay" ng-repeat="x in selTags">
					{{x}}
					<span class="tagClose">
						<i class="material-icons" ng-click="removeTag(x)">close</i>
					</span>
				</span>
			</div>
			Add tag:
			<form ng-submit="addTag()">
				<input type="text" ng-model="currentTag"></input>
			</form>
		</div>
		<div class="row" id="displayTagBrowse">
			<div infinite-scroll="shiftTags()" infinite-scroll-distance='.01' infinite-scroll-immediate-check="true">
				<div class="col-sm-4 col-md-3 col-lg-2" ng-repeat="x in displayTags" ng-show='resultsBool'>
				<!-- but with a lot more styling. -->
					<span ng-style="tagDisplayStyle">{{x.name}}</span>
				</div>
			</div>
		</div>
		<div class="row" id="displayResultBrowse">
			<div class="col-sm-4 col-md-3 col-lg-2" ng-repeat="x in browseResults" ng-show='resultsBool'>
				<img ng-src={{x.src}} class='img-responsive preview' ng-click="go_to(x.type,x.id)">
				<p class='imgDescription' ng-click="go_to(x.type,x.id)" >
					{{x.title}} by {{x.authorId}}
				</p>
			</div>
		</div>
	</div>
</div>
