<div ng-controller="comicCtrl" class="comic-page">

	<div class="text-center">
		<h2>{{comic.title}}</h2>
		<h4 ng-click="goToSeries(seriesId)">{{comic.series}}</h4>
		<a ng-click="goToProfile(authorId)">{{authorName}}</a>
		<!-- {{c.rating}} need to turn this into stars-->
	</div>

	<div ng-repeat="p in pages" class= "pageDiv">
		<img class="page-img" ng-src="{{p.url}}" alt="{{p.id}}"/>
	</div>

	<div ng-show="logged_in && !is_owner">
		<button ng-if="!faved" class="btn btn-sm btn-primary" ng-click="fav()">
			Favorite
		</button>
		<button ng-if="faved" class="btn btn-sm btn-danger" ng-click="unfav()">
			Unfavorite
		</button>
	</div>

	<div class="expand-comment" ng-click="show_comment = !show_comment">
		<i uib-popover-html="commendPopover" class="material-icons">comment</i>
	</div>

	<div ng-if="show_comment">
		<div class="detailBox">
		    <div class="titleBox">
		      <label>Write your comment below</label>
		      <!--button type="button" class="close" aria-hidden="true" ng-click="closeComments()">&times;</button-->
		    </div>
		    <div class="actionBox">
		        <ul class="commentList">
		            <li ng-repeat="comment in comments | orderBy:dateString:true">
		            	<div class="commenterImage">
		            		<img ng-src="{{comment.profileImageURL}}">
		            	</div>
		            	<button ng-show='comment.user_id == user_id' type="button" class="close" aria-hidden="true" ng-click="delete_comment(comment.id)">&times;</button>
		            	<p>{{comment.username}}</p>
		            	<div class="commentText">
		            		<p class="">{{comment.comment}}</p><span class="date sub-text">{{comment.dateString}}</span>
		            	</div>
		            </li>
		        </ul>
		        <form class="form-inline" role="form">
		            <div class="form-group">
		            	<p> {{your_comment}}</p>
		                <input class="form-control" type="text" ng-model="comment_obj.comment" placeholder="Insert Your Witty Comment" />
		            </div>
		            <div class="form-group">
		                <button class="btn btn-default" ng-click="add_comment()">Post</button>
		            </div>
		        </form>
		    </div>
		</div>
	</div>
</div>
