<div ng-controller="comicCtrl">
	<!--  -->
	<a class='h3_hover' ng-click="goToSeries(seriesId)">{{seriesTitle}}</a>
	<!--<a class='h3_hover' ng-click="goToProfile(authorId)">{{authorName}}</a> -->
	<div class = "comicTitleBar">
		<h4>{{comic.title}}</h4>
		<span class= "comicTitleBarFL">
			<!--{{comic.rating}}-->
		</span>
	</div>
	<div ng-repeat="p in pages">
		<img ng-src="{{p.url}}" />
	</div>
	<div ng-repeat="c in comics">
		<div class = "comicTitleBar">
			<h4>{{c.title}}</h4>
			<span class= "comicTitleBarFL">
				<!-- {{c.rating}} need to turn this into stars-->
			</span>
			<i class="material-icons" ng-click="openComments(c)">comment</i>
		</div>
		<div ng-repeat="p in c.pages" class= "pageDiv">
			<img ng-src="{{p.url}}" alt="{{p.id}}"/>
		</div>
	</div>
</div>
