<div ng-controller="editComicCtrl">

	<a ui-sref="series">Back to Series</a>
	<h3>Comic Title</h3>
	<i class="material-icons" data-toggle="modal" data-target="#addPageModal">note_add</i>
	<h4>Tags</h4>
	<form>
	Enter a tag to add: <input type="text" ng-model="newTag">
	</form>
	<!--<i class="glyphicon glyphicon-plus" ui-sref="draw"></i>-->
	

	<!-- Add Page Modal -->
	<div id="addPageModal" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Settings</h4>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									<i class="material-icons">file_upload</i>
									<p>Upload A Page</p>
								</button>
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									<i class="material-icons">landscape</i>
									<p>Draw A Page</p>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
