<div class="edit-comic" ng-controller="editComicCtrl">

	<a ng-click="go_to_series()">Back to Series</a>

	<h3 class="title" editable-text="comic.title" on-change="updateName(value)" edit-mode="isEditing"></h3>

	<div class="container-fluid">

		<div class="row drop-box-wrapper">
			<div ngf-drop ngf-select ng-model="files" class="drop-box" ng-show="showDropBox"
	        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
	        accept="image/*"
	        ngf-pattern="'image/*'"
					ngf-max-size="5MB">Drag your images here</div>
	    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			<!--i ng-show="showDropBox" class="fa fa-times close-button" ng-click="showDropBox = false"></i-->
		</div>

		<div class="row">
			<div ui-sortable ng-model="comic.pages" class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1">
				<div class="thumbnail-wrapper" ng-repeat="x in comic.pages"
				ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
						<img class="thumbnail" ng-src={{x.src}} alt="{{comic.title}}-{{x.pagenumber}}">
						<span class="thumbnail-overlay" ng-show="hoverEdit">
							<i class="fa fa-trash" ng-click="deletePage(x.id)"></i>
						</span>
				</div>
				<div class="add-page-wrapper">
					<i class="fa fa-plus-square add-page" ng-click="showDropBox = true"></i>
				</div>
			</div>
		</div>

		<div class="row text-center tag-wrapper">
			<div col-xs-12 col-md-6 col-lg-4 col-md-offset-3 col-md-offset-4>
				<h4>Tags</h4>
				<span class="tag" ng-repeat="tag in comic.tags">
					<i class="fa fa-times"></i>
					{{tag.text}}
				</span>
			</div>
		</div>

		<div class="row text-center">
			<form ng-submit="addTag()">
				Enter a tag to add: <input type="text" ng-model="newTag">
			</form>
		</div>

	</div>
</div>
