<div ng-controller="gameCtrl">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center">
			<h3>{{msg}}</h3>
		</div>
	</div>
	
	<div class="row ng-cloak">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="centerBlock">
				<table class="text-center noselect board weight-med">				
					<tr>
						<td class="cell" ng-click="cellClick(0, 0)">{{cellText(0,0)}}</td>
						<td class="cell cell-vertical" ng-click="cellClick(0, 1)">{{cellText(0,1)}}</td>
						<td class="cell" ng-click="cellClick(0, 2)">{{cellText(0,2)}}</td>
					</tr>
					<tr>
						<td class="cell cell-horizontal" ng-click="cellClick(1, 0)">{{cellText(1,0)}}</td>
						<td class="cell cell-vertical cell-horizontal" ng-click="cellClick(1, 1)">{{cellText(1,1)}}</td>
						<td class="cell cell-horizontal" ng-click="cellClick(1, 2)">{{cellText(1,2)}}</td>
					</tr>
					<tr>
						<td class="cell" ng-click="cellClick(2, 0)">{{cellText(2,0)}}</td>
						<td class="cell cell-vertical" ng-click="cellClick(2, 1)">{{cellText(2,1)}}</td>
						<td class="cell" ng-click="cellClick(2, 2)">{{cellText(2,2)}}</td>
					</tr>
				</table>
			</div>
			<br />
		</div>	
	</div>
		
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="centerBlock">
				<button id="home" class="btn btn-lg btn-primary" ng-show="winner != null" ui-sref="home">Home</button>
				<button id="reset" class="btn btn-lg btn-success" ng-show="winner != null" ng-click="reset()">New Game</button>
			</div>
		</div>		
	</div>
</div>
