<div ng-controller="homeCtrl">
	<div class="row">
		<div class="col s12 text-center">
			<h1>{{msg}}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<form>
				<div class="row">
					<div class="col-xs-5">
						<input ng-model="form.id" class="form-control" type="text"
							placeholder="Id" />
					</div>
					<div class="col-xs-7">
						<input ng-model="form.name" class="form-control" type="text"
							placeholder="Name" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10">
						<input ng-model="form.email" class="form-control" type="email"
							placeholder="Email" />
					</div>
					<div class="col-xs-2">
						<input ng-model="form.score" class="form-control" type="text"
							placeholder="Score" />
					</div>
				</div>
			</form>
			<br />
			<div class="row">
				<div class="pull-right">
					<button class="btn btn-primary" ng-click="insertUser()">Insert</button>
					<button class="btn btn-default" ng-click="updateUser()">Update</button>
				</div>
			</div>
		</div>
	</div>

	<br />
	<br />

	<div class="row">
		Sort by
		<button class="btn btn-default" ng-click="order('name')">Name</button>
		<button class="btn btn-default" ng-click="order('-score')">Score</button>
	</div>
	
	<br />

	<div class="row">
		<div ng-repeat="u in users | orderBy: predicate">
			<div class="col-xs-6 col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>{{u.name}}</h4>
					</div>
					<div class="panel-body">
						<h2>{{u.score}}</h2>
						<h6>{{u.email}}</h6>
					</div>
					<div class="panel-footer">
						<a ng-click="removeUser(u.id)">{{u.id}}<span
							class="glyphicon glyphicon-trash"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>