<div ng-controller="homeCtrl">
	<h1>HOME VIEW</h1>

	<form ng-submit="list()">
    	<h2>List Quotes</h2>
    	<button type="submit" class="btn btn-default">List</button>
    </form>
    <p ng-repeat="q in quoteList">
    	{{q.message}}
    </p>     
    
    <form ng-submit="insert()">
    	<h2>Insert New Quote</h2>
    	<input type="text" ng-model="insert.author" placeholder="Author" class="form-control" required />
    	<input type="text" ng-model="insert.message" placeholder="Quote" class="form-control" required />
    	<button type="submit" class="btn btn-default">Insert</button>
    </form>   
    
    <form ng-submit="update()">
    	<h2>Update Quote</h2>
    	<input type="text" ng-model="update.id" placeholder="Id" class="form-control" required/>
    	<input type="text" ng-model="update.author" placeholder="Author" class="form-control" required />
    	<input type="text" ng-model="update.message" placeholder="Quote" class="form-control" required />
    	<button type="submit" class="btn btn-default">Update</button>
    </form>
    
    <form ng-submit="delete()">
    	<h2>Delete Quote</h2>
    	<input type="text" ng-model="delete.id" placeholder="Id" class="form-control" required />
    	<button type ="submit" class="btn btn-default">Delete</button>
    </form>
</div>