<div ng-controller="profileCtrl" id="profPage">
	<div id='profBackground' ng-style="bgStyle">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<img src={{profile.profileImageURL}} class='img-repsonsive' width=150px height=150px>
					<span ng-if="isOwner">
						<i class="material-icons">settings_applications</i>
					</span>
				</div>
				<div class='col-xs-10'>
					<h1 ng-hide="editName" id="name">{{profile.username}}</h1>
					<form class='form-inline'>
						<form name='name'>
							<input class="form-control input-lg" ng-show="editName" type="text" ng-model="profile.username"></input>
							<input ng-show="editName" type="color"></input>
						</form>
					</form>
					<span ng-if="isOwner">
						<i class="material-icons" ng-click="toggle('editName')">edit</i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12' ng-if="! isOwner" >
				<h1>Bio</h1>
			</div>
			<div class='col-xs-10' ng-if="isOwner" >
				<h1>Bio</h1>
			</div>
			
			<div class='col-xs-2' ng-if="isOwner" >
				<i class="material-icons">settings_applications</i>
			</div>
		</div>
		<!-- need to dynamically load bio -->
		<div class='row' ng-if="isOwner">
			<div class='col-xs-11'>
				<p ng-hide="editBio" id="bio">{{profile.biography}}</p>
			</div>
			
			<div class='col-xs-12'>
				<form class='form-inline'>
					<form name='bio'>
						<input class="form-control" ng-show="editBio" type="text" ng-model="profile.biography" size='50'></input>
						<input ng-show="editBio" type="color" size='10'></input>
					</form>
				</form>
			</div>
			
			<div class='col-xs-1' ng-if="isOwner">
				<i class="material-icons" ng-click="toggle('editBio')">edit</i>
				<!-- this needs to change the bio to an input. -->
			</div>
			
			
			
		</div>
		<div class='row' ng-if="! isOwner">
			<div class='col-xs-12'>
				<p>{{profile.biography}}</p>
			</div>
		</div>
	</div>
	<div class='container'>
		<uib-tabset>
			<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" select="onTabSelected(tab.slug)">
				<div infinite-scroll="tab.load_m()" infinite-scroll-distance='.01' infinite-scroll-immediate-check="true">
					<div ng-if="isOwner"  class='col-xs-6 col-sm-3 col-md-2 col-lg-2'>
						<i class="material-icons" ng-click="newSeries()">note_add</i>
					</div> 
					<div class='col-xs-6 col-sm-3 col-md-2 col-lg-2 imgWrap' ng-repeat='x in tab.content'>
						<img ng-src={{x.src}} class='img-responsive preview' ng-click="page_go(x.type,x.id)">
						<p class='imgDescription' ng-click="page_go(x.type,x.id)" >{{x.title}}</p>
						<div ng-if="(isOwner)" class="profTabRTC">
							<i class="material-icons" ng-click="deleteThing(tab.slug, x)">delete_forever</i>
						</div> 
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>

