<div ng-controller="profileCtrl" class="profile">

	<div class="cover">
		<img class="cover-img" ng-src="{{profileCoverImg}}" default-img="{{defaultCoverImg}}" />

		<div ng-show="is_owner" ngf-drop ngf-select ng-model="coverImg" class="cover-drop-box"
				ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
				accept="image/*"
				ngf-pattern="'image/*'"
				ngf-max-size="5MB"></div>

		<h5 ng-if="!is_owner" class="cover-title">{{profile.username}}</h5>
		<h5 ng-if="is_owner" class="cover-title" editable-text="profile.username" on-change="updateName(value)"></h5>

		<img class='cover-profile-img'
		 ng-src="{{profileImageURL}}" default-img="{{profile.profileImageURL}}" />

		 <div ng-show="is_owner" ngf-drop ngf-select ng-model="profileImg" class="profile-drop-box"
 				ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
 				accept="image/*"
 				ngf-pattern="'image/*'"
 				ngf-max-size="5MB"></div>

		<div ng-if="logged_in && !is_owner">
			<button ng-if="!followed" class="btn btn-sm btn-primary cover-btn" ng-click="follow()">
				Follow
			</button>

			<button ng-if="followed" class="btn btn-sm btn-dange cover-btnr" ng-click="unfollow()">
				Unfollow
			</button>
		</div>
	</div>

	<div class="content-wrapper">
		<h5 class="description-heading">Bio</h5>
		<p ng-if="!is_owner">{{profile.biography}}</p>
		<p ng-if="is_owner" editable-text="profile.biography" on-change="updateBio(value)"></p>

		<h5 class="description-heading">Rating</h5>

		<div class="rating-display">
			<i class="fa fa-star"></i>
			<h5>{{profile.rating}}/5</h5>
		</div>

		<button ng-if="is_owner" class="btn btn-sm btn-primary new-series-btn" ng-click="newSeries()">
			<i class="material-icons addIcon">note_add</i>
		</button>
	</div>

	<div class='series-images'>
		<uib-tabset>
			<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active"
			 select="onTabSelected(tab.slug)">
				<div infinite-scroll="tab.load_m()" infinite-scroll-distance='.01'
				 infinite-scroll-immediate-check="true">

					<div class='thumbnail-wrapper' ng-repeat='x in tab.content' >

						<img class='thumbnail' ng-click="page_go(x.type,x.id)"
						 ng-src={{x.src}} default-img="{{defaultPageImg}}">

						<div class="thumbnail-overlay">
							<p ng-click="page_go(x.type,x.id)">{{x.title}}</p>
							<span ng-if="is_owner">
								<i class="material-icons" ng-click="deleteThing(tab.slug, x)">
									delete_forever
								</i>
							</span>
						</div>

					</div>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>
