<div ng-controller="seriesCtrl" class="series">
	<div class="cover">
		<h2 ng-if="!is_owner" class="cover-title">{{series.title}}</h2>
		<h2 ng-if="is_owner" class="cover-title" editable-text="series.title" on-change="updateTitle(value)"></h2>
		<div ng-show="logged_in && !is_owner">
			<button ng-if="!subbed" class="btn btn-sm btn-primary sub-btn" ng-click="subscribe()">
				Subscribe
			</button>
			<button ng-if="subbed" class="btn btn-sm btn-danger sub-btn" ng-click="unsubscribe()">
				Unsubscribe
			</button>
		</div>
		<img class="cover-img" ng-src="{{coverImgURL}}" default-img="{{defaultCoverImg}}" />
		<div ngf-drop ngf-select ng-model="coverImg" class="cover-drop-box"
				ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
				accept="image/*"
				ngf-pattern="'image/*'"
				ngf-max-size="5MB"></div>
	</div>
	<div class="content-wrapper">
		<div ng-show="logged_in && !is_owner">
			<button ng-if="!faved" class="btn btn-sm btn-primary" ng-click="fav()">
				Favorite
			</button>
			<button ng-if="faved" class="btn btn-sm btn-danger" ng-click="unfav()">
				Unfavorite
			</button>
		</div>
		<h5 class="content-heading">Description</h5>
		<p ng-if="!is_owner">{{series.description}}</p>
		<p ng-if="is_owner" editable-text="series.description" on-change="updateDescription(value)"></p>
		<h5 class="content-heading">Author</h5>
		<p ng-click="goToAuthor()">{{author_name}}</p>
		<h5 class="content-heading">Rating</h5>

		<div class="rating-display">
			<i class="fa fa-star"></i>
			<h5>{{series.rating}}/5</h5>
		</div>

		<button ng-if="is_owner" ng-click="newComic()" class="btn btn-primary btn-small">
			<i class="material-icons editIcon" >note_add</i>
		</button>
	</div>

	<div class="comic-images">
		<!-- if there are comics -->
		<div ng-if='comics.length > 0 || is_owner'>
			<div infinite-scroll='loadMore()' infinite-scroll-distance='.2'>
				<div class='thumbnail-wrapper' ng-repeat='comic in comics'
				 ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
					<img class='thumbnail' ng-click="goToComic(comic.id)"
					default-image ng-src="{{getFirstPageURL(comic.page[0])}}" default-img="{{defaultPageImg}}" />
					<div class="thumbnail-overlay">
						<p ng-click="goToComic(comic.id)">{{comic.title}}</p>
						<span ng-if="is_owner">
							<i class="material-icons" ng-click="deleteComic(comic.id)">
								delete_forever
							</i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- if there are no comics -->
		<div ng-if='comics.length == 0'>
			<p>There are no comics in this series.</p>
			<p ng-if="!is_owner">Subscribe to be notified when they some are.</p>
		</div>
	</div>

	<!-- Comments -->
	<div class="expand-comment" ng-click="show_comment = !show_comment">
		<i uib-popover-html="commendPopover" class="material-icons">comment</i>
	</div>
	<div ng-if="show_comment">
		<div class="detailBox">
			<div class="titleBox">
				<label>Comments</label>
			</div>
			<div class="actionBox">
				<ul class="commentList">
					<li ng-repeat="comment in comments | orderBy:date" >
						<div class="commenterImage">
							<img ng-src="{{comment.profileImageURL}}">
						</div>
						<button ng-show='comment.user_id == user_id' type="button" class="close" aria-hidden="true" ng-click="delete_comment(comment.id)">&times;</button>
						<p>{{comment.username}}</p>
						<div class="commentText">
							<p class="">{{comment.comment}}</p><span class="date sub-text">{{comment.dateString}}</span>
						</div>
					</li>
				</ul>
				<form class="form-inline" role="form">
					<div class="form-group">
						<p> {{your_comment}}</p>
						<input class="form-control" type="text" ng-model="comment_obj.comment" placeholder="Insert Your Witty Comment" />
					</div>
					<div class="form-group">
						<button class="btn btn-default" ng-click="add_comment()">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
