<div ng-controller="seriesCtrl">
	<p> is owner? {{is_owner}}</p>
	<div class="cover">
		<h2>{{series.title}}</h2>
		
		<div ng-show="logged_in && !is_owner">
			<button ng-if="!subbed" class="btn btn-sm btn-primary" ng-click="subscribe()">
				Subscribe
			</button>

			<button ng-if="subbed" class="btn btn-sm btn-danger" ng-click="unsubscribe()">
				Unsubscribe
			</button>
		</div>
	
	</div>
	
	<div class="container">
		<p> profile id: {{profile_id}} <br>
		    user id: {{user_id}}
			is owner: {{is_owner}}
		</p>
		<p>faved?  {{faved}}</p>
		<div ng-show="logged_in && !is_owner">
			<button ng-if="!faved" class="btn btn-sm btn-primary" ng-click="fav()">
				Favorite
			</button>
			<button ng-if="faved" class="btn btn-sm btn-danger" ng-click="unfav()">
				Unfavorite
			</button>
		</div>
	
		<div class='row' ng-if="is_owner">
			<p>THIS IS FOR EDITING TITLE</p>
			<i class="material-icons" ng-click="toggle('editTitle')">edit</i>
			<form class='form-inline' ng-show='editTitle'>
				<form ng-submit="toggle('editTitle')" name='name'>
					<input class="form-control input-lg" type="text" ng-model="series.title"></input>
					<input type="color"></input>
				</form>
			</form>
		</div>
		<div class="content-wrapper">
			<h4 ng-click="goToAuthor()">Author: {{author_name}}</h4>
			<h4>Description</h4>
			<p>{{series.description}}</p>
			<div class='row' ng-if="is_owner">
				<p>THIS IS FOR EDITING DESCRIPTION</p>
				<i class="material-icons" ng-click="toggle('editDescription')">edit</i>
				<form class='form-inline' ng-show='editDescription'>
					<form ng-submit="toggle('editDescription')" name='name'>
						<input class="form-control input-lg" type="textarea" ng-model="series.description"></input>
						<input type="color"></input>
					</form>
				</form>
			</div>
			<h4>Rating: {{series.rating}}</h4>
		</div>
		<div ng-if="show_comment">
			<div class="detailBox">
				<div class="titleBox">
				  <label>Comment Box</label>
					<button type="button" class="close" aria-hidden="true" ng-click="closeComments()">&times;</button>
				</div>
				<div class="commentBox">
					<p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="actionBox">
					<ul class="commentList">
						<li ng-repeat="comment in comments | orderBy:date" >
							<div class="commenterImage">	
								<img ng-src="{{comment.profileImageURL}}">
							</div>
							<button ng-show='comment.user_id == user_id' type="button" class="close" aria-hidden="true" ng-click="delete_comment(comment.id)">&times;</button>
							<p>{{comment.username}}</p>
							<div class="commentText">
								<p class="">{{comment.comment}}</p><span class="date sub-text">{{comment.dateString}}</span>
							</div>
						</li> 
					</ul>
					<form class="form-inline" role="form">
						<div class="form-group">
							<p> {{your_comment}}</p>
							<input class="form-control" type="text" ng-model="comment_obj.comment" placeholder="Insert Your Witty Comment" />
						</div>
						<div class="form-group">
							<button class="btn btn-default" ng-click="add_comment()">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class='row'>
			<h3>Comics</h3>
		</div>
		<!-- if there are pages -->
		<div ng-if='comics.length > 0 || is_owner'>
			<div infinite-scroll='loadMore()' infinite-scroll-distance='.2'>
				
				<div ng-if="is_owner"  class='col-xs-6 col-sm-3 col-md-2 col-lg-2'>
						<i class="material-icons" ng-click="newComics()">note_add</i>
				</div> 
				<div ng-if="!is_owner" class='col-xs-6 col-sm-3 col-md-2 col-lg-2 imgWrap' ng-repeat='comic in comics'>
					<img ng-src={{getFirstPageURL(comic.page[0])}} class='img-responsive preview' ng-click="goToComics(comic.id)">
					<p class='imgDescription' ng-click="goToComics(comic.id)" >{{comic.title}}</p>
				</div>
				<div ng-if="is_owner" class='col-xs-6 col-sm-3 col-md-2 col-lg-2 imgWrap' ng-repeat='comic in comics'>
					<img ng-src={{getFirstPageURL(comic.page[0])}} class='img-responsive preview' ng-click="goToEditComics(comic.id)">
					<p class='imgDescription' ng-click="goToEditComics(comic.id)" >{{comic.title}}</p>
				</div>
			</div>
		</div>
		<!-- if there are no pages -->
		<div ng-if='comics.length == 0'>
			<p>No comics in this series! :(</p>
		</div>
	</div>
</div>
